{% extends "ProyectoWebApp/base.html" %}

{%load static %}

{% block content %}

<div class="container">
  <div class="row">
    {% for servicio in servicios %}
      <div class="col-md-2" style="text-align: center;">
        <div class="card" style="width: 100%; margin: 5px 5px;">
            <img class="card-img-top" src="{{servicio.imagen.url}}" alt="" >
            <div class="card-body">
                <h7 class="card-tittle">{{servicio.nombre}}</h7>
                <p class="card-text"> followers : {{servicio.followers}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>

  <section>
    <div style = "width:75%; margin: auto; text-align: center; color: white;">
      Categorias: 
      {% for servicio in servicios %}
        {% for Categorias in servicio.categorias.all %}
          {{Categorias.nombreCat}}
        {% endfor %}
      {% endfor %}
    </div>
  </section>

{% endblock %}