{% extends "ProyectoWebApp/base.html" %}

{%load static %}

{% block content %}

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Creador de la pagina:</span>
                <span class="section-heading-upper">Renato Salsilli Poveda</span>
                <span class="section-heading-upper">Email: renato.salsilli@alumnos.upla.cl</span>
                <span class="section-heading-upper">GitHub: https://github.com/Rsalsilli/Proyecto-Final</span>
              </h2>
            </div>  
          </div>
        </div>
      </div>
    </section>

  {% endblock %}